// Fonts
$font-family: 'TT Norms', Helvetica, Arial, sans-serif;

// Colors
$color-white: #fff;
$color-black-1: #090E17;
$color-black-2: #131521;
$color-gray-1: #6F7A97;
$color-gray-2: #30374E;
$color-blue-1: #2F80ED;
$color-red-1: #EB5757;

$success-color: #57B155;
$danger-color: #FF6363;
$warning-color: #F9744B;

// Breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;