@import "{scss}/variables";

.profile-change-password {
  margin-top: 10rem;

  &__form {
    display: flex;
    justify-content: center;
  }

  .form__group {
    background-color: $color-black-2;
    padding: 4rem;
    border-radius: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}


